{% extends 'gce_app/common/base_page.html' %}
{% load custom_filters %}
{% load staticfiles %}
{% block base_extender %}
    <div id="profile_container">
        <div id='left_profile_section' class='left_item'>
            <div id='profile_avatar'>
                {% if user == teacher.id_enseignant.info_utilisateur %}
                <form id ='avatar_form' method="POST" enctype="multipart/form-data">
                    {% csrf_token %}{% for field in form %}{{ field }}{% endfor %}
                </form>
                {% endif %}
                <img {% if user == teacher.id_enseignant.info_utilisateur %} onclick='avatar_selector(event)' class="change_avatar"{% endif %} src="{{ teacher.id_enseignant.avatar_utilisateur.url}}">
                <div><div class="change_avatar_child"><div></div>Changer Avatar</div></div>
            </div>
            <span>
                <div id="profile_name">{{ teacher.id_enseignant.info_utilisateur.first_name|lower }} {{ teacher.id_enseignant.info_utilisateur.last_name|lower }}
                    <div id="profile_email">{{ teacher.id_enseignant.info_utilisateur.email }}</div>
                </div>
                <div id="profile_career">
                    <div id="profile_branch"><strong>Filieres :</strong> 
                        {% for filiere in teacher.filieres.all %}{{ filiere.nom }};  {% endfor %}
                    </div>
                </div>
            </span>
        </div>
        <div id='right_profile_section' class='right_item'>
            {% if teacher.modules.all|length != 0 %}
                <div class="profile_area">
                    <div id='profile_modules' class="profile_area_title">Modules</div>
                    <div class="profile_area_content">
                        {% for module in teacher.modules.all %}
                            <div>{{ module.titre_module|lower }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if chefs %}
                <div class="profile_area">
                    <div id='profile_ensgs' class="profile_area_title">Chefs Departements</div>
                    <div class="profile_area_content">
                        {% for chef in chefs %}
                            <div>{{ chef.id_chef_departement.info_utilisateur.last_name|lower }} {{ chef.id_chef_departement.info_utilisateur.first_name|lower }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}