<div>
    {% if entry.reclamations  %}
        <div class="default_title reclam_title">Réclamation :</div>
        {% for reclamation in entry.reclamations %}
        <div class="old_reclam_item">
            <div class="reclam_id hide">{{ reclamation.id }}</div>
            <div class="reclam_tab_label">Sujet :</div>
            <input type="text" class="reclam_tab_item" value="{{ reclamation.sujet_reclamation }}" disabled>
            <div class="reclam_tab_label">Description :</div>
            <div type="text" class="reclam_tab_item">{{ reclamation.description_reclamation }}</div>
            {% if reclamation.approuver_reclamation %}
                <div class="reclam_tab_label">Ancienne Note :</div>
                <div type="text" class="reclam_tab_item">{{ reclamation.old_files.all.0.id_version.note_version }}</div>
                <div class="reclam_tab_label">Nouvelle Note :</div>
                <div type="text" class="reclam_tab_item">{{ reclamation.new_files.all.0.id_version.note_version }}</div>
            {% else %}
                <div class="reclam_tab_label">Note :</div>
                <div type="text" class="reclam_tab_item">{{ reclamation.old_files.all.0.id_version.note_version }}</div>
            {% endif %}
            <div class="reclam_tab_label">Statut :</div>
            <div class="reclam_lower_section reclam_item_lower_section">
                {% if reclamation.regler_reclamation %}
                    {% if reclamation.approuver_reclamation %}
                        <div class="reclam_tab_item reclam_tab_bool"><span style="color: #5fe93d;"> &#10004;</span> Approuvée</div>
                    {% else %}
                        <div class="reclam_tab_item reclam_tab_bool"><span style="color: #f24444;"> &#10006;</span> Rejetée</div>
                    {% endif %}
                {% else %}
                    <div class="reclam_tab_item reclam_tab_bool"><span style="color: #f24444;"> &#10006;</span> Traitement En Cours</div>
                    <div onclick="reclamation_manager('delete',this,event);" class="default_button_small reclam_tab_button reclam_tab_annuler">Annuler</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>