<div class="notes_item_reclam_new">
    <div class="default_title reclam_title">Créer une Réclamations :</div>
    <div class="reclam_tab_label">Sujet :</div>
    <input type="text" class="reclam_tab_item" name="reclamation_title">
    <div class="reclam_tab_label">Description :</div>
    <textarea type="text" class="reclam_tab_item" name="reclamation_content"></textarea>
    <div class="reclam_lower_section">
        <div onclick="reclamation_manager('create',this,event);" class="default_button_small reclam_tab_button">Réclamer</div>
    </div>
</div>