{% extends 'gce_app/common/base_page.html' %}
{% block base_extender %}
<div id="affichage_container">
    {% if entries %}
        <div class="saisir_item_small" id="saisir_search_module">
            <input autocomplete="off" name="search_module" oninput="filter_affichage(event);" placeholder="Trouver un affichage" type="text">
        </div>
        {% for entry in entries %}
            <div class="saisir_item_small affichage_item_large {% if forloop.counter0|divisibleby:2 %}left_item{% else%}right_item{% endif %}">
                <div class="affichage_item_info">
                    <div class="affichage_module_id">{{ entry.id }}</div>
                    <div class="affichage_module_name">Module : <span>{{ entry.titre_module }}</span></div>
                    <div class="affichage_module_spec">Specialite : <span>{{ entry.id_specialite.nom }}</span></div>
                    <div class="affichage_module_parc">Parcours : <span>{{ entry.id_specialite.id_parcours.nom }}</span></div>
                </div>
                <div class="default_button modifiable_module_button" onclick="enable_module_modification(this,event);">Activer Modification</div>
                <div class="default_button affichage_module_button" onclick="afficher_module(this,event);">Afficher Notes</div>
            </div>
        {% endfor %}
    {% else %}
        <div class="saisir_item_small" id="fin_de_verification_note">Pas de Note a Afficher</div>
    {% endif %}
</div>
{% endblock %}