@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
    font-family: Roboto-Regular, 'Arial';
    font-size: 16px;
}

.fill_100 {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }

:focus {
    outline: none;
}

.center_element {
    margin: 0 auto;
}

.hide {
    display : None;
}

/* Custom general Scroll Bar*/
::-webkit-scrollbar {
    width: 8px;
    background-color:rgba(15, 15, 15, 0.144);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.397); 
    border-radius: 5px;
}

/* notification box custom scroll bar */
#notification_box > div::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(231, 231, 231); 
    margin: 5px;
}

#notification_box > div::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.397); 
    border-radius: 5px;
}
