/* #region TOP BAR*/
#topbar {
    z-index: 2;
    display: flex;
    position : fixed;
    top: 0;
    width: 100%;
    height: 3em;
    padding: 0 10%;
    background: rgba(0,0,0,.8);
    line-height: 3em;
    text-align: center;
    animation-duration: 1.5s;
    animation-name: top_bar_animation;
    transition: padding .5s; /* for the tebalet media query (smooth responsivness)*/
}

#profile_pic {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin: .25em .4em .25em 0;
    transition: .5s;
}

#logged_in_user_id  {
    display: none;
}

#profile_pic:hover {
    cursor: pointer;
    filter: opacity(.8);
    transition: .5s;
}

#menu_search_container {
    position: relative;
    width: 100%;
}

/* #region MENU ENTRIES */
#menu_button {
    display: none;
    color: white;
    font-family: Roboto-Bold, 'Arial';
    width: 5em;
    transition: .4s;
}

#menu_entries {
    display: inline-block;  
    width: 100%;
    height: 3em;
    color: white;
    padding-right: 2.7em; /* filler for the search button */
}

#menu_entries > div {
    font-weight: 700;
    display: inline-block;
    font-size: 14px;
    margin-right: 1em;
    padding: 0 .2em;
    height: 2.5em;
    line-height: 2.5em;
    transition: .4s;
}

#menu_entries > div:last-child {
    margin-right: 0;
}

#menu_entries > div:hover, #menu_button:hover {
    cursor: pointer;
    color: rgb(192, 192, 192);
    transition: .4s;
}
/* #endregion */

/* #region SEARCH AREA */
#search_area {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 2.6em;
    height: 2.5em;
    line-height: 2.5em;
    margin: .25em 0;
    margin-left: 2%;
    text-align: right;
    z-index: 1;
}

#search_button {
    background: url(../images/search_icon.png) no-repeat center;
    background-size: 100%;
    margin: .5em .5em;
    width: 1.6em;
    min-width: 1.6em;
    height: 1.6em;
    cursor: pointer;
    display: inline-block;
}


#leave_search_area, #search_result_exit, #annonce_create_exit {
    cursor: pointer;
    display: none;
    position: relative;
    width: 20px;
    height: 20px;
    margin: auto 0 auto 0.9em;
}

/* #region X mark */
#leave_search_area > div, #search_result_exit > div, .annonce_item_delete > div, #annonce_create_exit > div {
    position: absolute;
    top: 0;
    width: 3px;
    height: 20px;
}

#leave_search_area > div, #annonce_create_exit > div {
    background-color: rgba(255, 255, 255, 1);
}

#search_result_exit > div, .annonce_item_delete > div {
    background-color: rgba(0, 0, 0, .856);
}

#leave_search_area > div:first-child, #search_result_exit > div:first-child, .annonce_item_delete > div:first-child, #annonce_create_exit > div:first-child {
    transform: rotateZ(-45deg);

}

#leave_search_area > div:last-child, #search_result_exit > div:last-child, .annonce_item_delete > div:last-child, #annonce_create_exit > div:last-child {
    transform: rotateZ(45deg);
}
/* #endregion X mark */

#search_input {
    background: transparent;
    flex: 1; 
    border: none;
    display: inline-block;
    width: 100%;
    min-width: 0;
    height: 100%;
    font-size: 1.35em;
    color: white;
    margin-left: 0em;
}

#search_button:hover, #notification_button:hover, #leave_search_area:hover {
    filter: opacity(.8);
    transition: .3s;
}

/* #region SUGGESTIONS*/
#search_suggestions {
    z-index: 1000;
    position: absolute;
    display: none;
    top: 2.75em;
    left: 0em;
    background-color: rgb(255, 255, 255);
    margin-left: -1%; 
    width: 96%;
    max-height: 13.5em;
    border-radius:  0em 0em .5em .5em;
}

#search_suggestions > span { /* no suggestions*/
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: default;
}

.suggestion_item {
    display: flex;
    height: 2.2em;
    margin: .4em .4em;
    border-radius: .3em;
    cursor: pointer;
    transition: .3s;
}

.suggestion_item:hover, .search_result_item:hover {
    background-color: rgb(231, 231, 231); 
    color: #0070c9;
}


.suggestion_item_id, .search_result_item_id {
    display: none;
}

.suggestion_item_img {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    margin: .2em .5em .2em .3em; 
    border-radius: 50%;
}

.suggestion_item_info {
    display: flex;
    width: 100%;
    line-height: 2.3em;
}

.suggestion_item_info, .suggestion_item_name, .suggestion_item_filiere, #completed_entries_title, #uncompleted_entries_title, .default_title, .personnel_user_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggestion_item_name, .suggestion_item_filiere {
    width: 50%;
    font-family: Roboto-Bold, 'Arial';
    font-size: 14px;
}

.suggestion_item_name {
    text-align: left;
    text-transform: capitalize;
}

.suggestion_item_filiere {
    padding-right: 1em;
    text-align: right;
}

#search_overlay {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .527); 
    padding-top: 3em;
}

#search_result {
    display: none;
    margin: 2% auto;
    width: 700px;
    height: 90%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
    transition: width 1s, height 1s;
    user-select: none;
}

#search_result_list {
    height: calc(100% - 4em);
    overflow-y: auto;
}

#search_result_list > span {
    display: block;
    text-align: center;
    padding-top: 3em;
}

#search_result_head {
    position: relative;
    height: 4em;
    /* width: 700px; */
}

#search_result_title {
    position: absolute;
    top: 1em;
    left: 1em;
    color: rgba(0, 0, 0, .856);
    font-weight:  700;
    font-size: 1.3em;
}

#search_result_exit {
    position: absolute;
    top: 1.25em;
    right: 1em;
    color: rgb(0, 0, 0);
    display: inline-block;
    transition: opacity .5s;
    margin: .32em 1em 0em .2em;
}

#search_result_exit:hover {
    opacity: .5;
}

.search_result_item {
    cursor: pointer;
    display: flex;
    height: 5em;
    margin: .4em .4em;
    border-radius: .3em;
    padding-left: 5%;
}

.search_result_item_img {
    height: 4.5em;
    margin: .25em .25em;
    border-radius: 50%;
}

.search_result_item_info {
    position: relative;
    width: 100%;
    margin: .9em 1em;
    overflow:hidden;
}

.search_result_item_info > span {
    display: flex;
}

.search_result_item_name {
    font-weight: 700;
    font-size: 18px;
}

.search_result_item_group, .search_result_item_filiere {
    font-size: 14px;
}

.search_result_item_group, .search_result_item_filiere, .search_result_item_name {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap; 
    text-transform: capitalize;
}

/* #endregion SUGGESTIONS*/
/* #endregion SEARCH AREA*/

/* #region NOTIFICATION and OPTIONS AREAS*/
#notification_area {
    height: 2.5em;
    margin: .25em 0;
    text-align: right;
    display: flex;
    line-height: 2.5em;
}

#notification_button {
    position: relative;
    background: url(../images/notification_bell_filled.png) no-repeat center;
    background-size: 100%;
    width: 1.6em;
    height: 1.6em;
    margin: .4em;
    cursor: pointer;
    display: inline-block;
}

#notification_numbers {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 0, 0, 0.808);
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    top: -5px;
    right: -5px;
    color: rgb(245, 245, 245);
}

#notification_box, #options_box {
    z-index: 1;
    position : absolute;
    top: 3.1em;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgba(88, 88, 88, .5);
    border-radius: 5px;
}

#options_box {
    left: 10%;
    transition: padding .5s; /* for the tebalet media query (smooth responsivness)*/
}

#notification_box {
    right: 10%;
    transition: padding .5s; /* for the tebalet media query (smooth responsivness)*/
}

/* #region notification and options TRIANGLES */
#options_box:after, #options_box:before, #notification_box:after, #notification_box:before {
    bottom: 100%;
    border: 1px solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

#notification_box:after, #notification_box:before {
    right: .5em;
    margin-left: -18px;
}

#options_box:after, #options_box:before {
    left: .55em;
}

#notification_box:after, #options_box:after {  /* upper triangle */
    border-bottom-color: rgb(238, 238, 238);
    border-width: 10px;
}

#notification_box:before, #options_box:before { /* upper triangle border*/
    border-bottom-color: rgba(88, 88, 88, .5);
    border-width: 12px;
}

#options_box:before {
    margin-left: -2px;
}

#notification_box:before {
    margin-right: -2px;
}
/* #endregion notification and options TRIANGLES */
#profile_options_item, #logout_options_item {
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    display:block;
    border: none;
    height: 2.5em;
    width: 100%;
    line-height: 2.5em;
    text-align: left;
    font-size: .8em;
    font-family: Roboto-Bold, 'Arial';
    padding: 0 1em 0 2.5em; 
    background-repeat: no-repeat;
}

#profile_options_item {
    background-image: url(../images/profile_icon.png);
    background-size: 2em;
    background-position: .5em .3em;
}

#logout_options_item {
    background-image: url(../images/logout_icon.png);
    background-size: 1.7em;
    background-position: .7em .5em;
}

#profile_options_item:hover, #logout_options_item:hover {
    cursor: pointer;
    background-color: rgba(206, 206, 206, .548);
    transition: .2s;
}


/* #region NOTIFICATION BOX*/
#no_notification {
    padding: 0 1em;
    user-select: none;
}

#notification_box > div {
    max-height: 21.1em;
    overflow: hidden;
    overflow-y: auto;
}

.notification_item {
    font-size: 16px;
    position: relative;
    display: flex;
    padding: 0 16px 0 6px;
    width: 400px;
    height: auto;
    text-align: left;
    /* line-height: 56px; */
}

.notification_item:hover {
    cursor: default;
}

.notification_icon {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.5em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.notification_icon > img {
    width: 2em;
    height: 2em;
    margin-top: .8em; 
}

.notification_content{
    overflow: hidden;
    width: 100%;
    padding-top: .5em; 
}

.notification_subject {
    height: 1.5em;
    font-family: Roboto-Bold, 'Arial';
    font-size: .85em; 
    line-height: 1.2em;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap; 
}

.notification_description {
    /* height: 2em; */
    line-height: 1.2em;
    font-size: .85em;
    padding-bottom: 10px; /* new */
    /* text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;  */
}

.notification_id > div:first-child {
    display: none;
}

.remove_notification_sign {
    opacity: 0;
    cursor: pointer;
    color: black;
    position: relative;
    margin: .9em 1.5em; 
    line-height: 1em;
    position: absolute;
    top: 0;
    right: 0;
    margin: .5em 1.2em;
    color: rgba(61, 61, 61, .979);
    transition: opacity .2s;
}

.notification_item:hover .remove_notification_sign {
    opacity: 1;
}


/* #region XMARK NOTIFICATION */
.remove_notification_sign > div, .remove_notification_sign > div:last-child {
    position: absolute;
    top: 0;
    width: 2px;
    height: 10px;
    background-color : rgba(61, 61, 61, .979);
}

.remove_notification_sign > div {
    transform: rotateZ(-45deg);

}

.remove_notification_sign > div:last-child {
    transform: rotateZ(45deg);

}
/* #endregion XMARK NOTIFICATION */
/* #endregion NOTIFICATION BOX*/
/* #endregion NOTIFICATION and OPTIONS AREAS*/
/* #endregion TOP BAR*/


/* #region CONTENT */
/* #region containers*/
#content_container {
    padding: 3em 10% 0em 10%;
    transition: padding .5s; /* for the tebalet media query (smooth responsivness)*/
    /* -webkit-perspective: 1000; */
    /* -webkit-font-smoothing: subpixel-antialiased; */
    /* backface-visibility: hidden; */
    /* transform: translateZ(0); */
}

#home_container, #profile_container, #annonce_container, #saisir_container, #notes_container, #affichage_container, #personnels_container, #reclam_container {
    max-width: 1000px;
    margin: 0 auto;
}

#annonce_container, #profile_container, #saisir_container, #notes_container, #affichage_container, #personnels_container, #reclam_container {
    padding: 1.5em 1em 0em 1em;
    user-select: none;
}

#profile_container {
    display: flex;
}

#annonce_container {
    position: relative;
    height: 100%;
}
/* #endregion containers*/

/* #region home */
.home_item {
    width: 90%;
    height: 100px;
    margin: 16px auto;
    background-color: rgba(242, 242, 242, .8);
    border-radius: 10px;
    line-height: 100px;
    font-size: 2em;
    font-weight: 700;
    user-select: none;
    transition: background-color .5s, font-size .5s, background-position .5s, background-size .5s, padding .5s;
    background-repeat: no-repeat;
    background-size: 75px;
}

.home_item:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, .45);
}

.left_home_item {
    text-align: right;
    background-position: calc(100% - 85% + 3%);
    padding-right: 15%; 
}

.right_home_item {
    text-align: left;
    background-position: calc(100% - 15% - 3%);
    padding-left: 15%; 
}

.home_item:last-child {
    margin-bottom: .1em;
}
/* #endregion home */

/* #region profile */
#left_profile_section {
    display: inline-block;
    width: 13em;
    padding-right: 1em; 
    margin-bottom: 1em;
}

#right_profile_section {
    display: inline-block;
    flex: 1 0 auto;
    margin-bottom: 1em;
}

#profile_avatar {
    position: relative;
    height: auto;
    font-size: 0px;
}

#profile_avatar > div {
    width: 110px;
    margin: 0 auto;
}

.change_avatar:hover, .annonce_item_show:hover, #annonce_create_item_show:hover , #annonce_create_item_save:hover{
    cursor: pointer;
}

.change_avatar_child {
    display: none;
    z-index: 1;
    position: absolute;
    bottom: -2em;
    width: 110px;
    padding: .3em 0; 
    border-radius: .5em;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
}

.change_avatar:hover + div > .change_avatar_child {
    display: block;
}

#profile_avatar > div > div > div {
    z-index: -1;
    position: absolute;
    top: -.35em;
    background-color: rgb(36, 36, 36);
    width: calc(100% - 85%);
    margin: 0 42.5%;
    transform: rotateZ(45deg);
    height: 1em;
}

#profile_avatar > img {
    width: 100%;
    border-radius: .5em;
}

#avatar_upload, #avatar_form {
    display: none;
}

#profile_name {
    font-size: 28px;
    font-family: Roboto-Bold, 'Arial';
    color: rgba(0, 0, 0, .9);
    text-transform: capitalize;
    overflow-wrap: break-word;
    padding: .3em 0;   
}

#profile_email {
    text-transform: none;
    font-weight: 700;
    color: rgba(61, 61, 61, .979);
    user-select: text;
}

#profile_career {
    padding-top: .3em; 
}

.profile_area {
    padding: 1em;
    background-color: rgba(218, 218, 218, .37);
    border-radius: .5em;
    margin-bottom: 1em;
}

.profile_area:last-child {
    margin-bottom: 0;
}

.profile_area_title {
    color: rgba(0, 0, 0, .9);
    font-size: 26px;
    font-family: Roboto-Bold, 'Arial';
    /* border-bottom: .09em solid rgba(0,0,0,.8); */
    margin-bottom: .2em;
    padding-left: 1.5em; 
    padding-bottom: .15em;
    background-repeat: no-repeat;
    background-position: 0em -.1em;
    background-size: 1.25em;;
}

.profile_area_content {
    padding: .2em 0 .2em 1em;
    text-transform: capitalize;
}

.profile_area_content > div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile_area_result {
    margin: 0 0 1em 0;
    overflow: hidden;
}

.profile_area_result:last-child{
    margin-bottom: 0;
}

.profile_school_year {
    width: 100%;
    font-weight: 700;
    margin-bottom: .3em;
}

.profile_area_result > span {
    display: flex;
}

.profile_notes_modules {
    display: inline-block;
    margin-left: 1em; 
    flex: 1;
    overflow: hidden;
}

.profile_notes_notes {
    width: 3.1em;
}

.profile_notes_modules > div, .profile_notes_notes > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border-top: .09em solid rgba(0,0,0,.4); */
}

.profile_notes_modules > div:last-child, .profile_notes_notes > div:last-child {
    /* border-bottom: .09em solid rgba(0, 0, 0, .4); */
    border-left: none;
}
/* #endregion profile */

/* #region Annonce */
#annonce_add_button {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    animation: go_down;
    animation-duration: 1.5s;
}

#annonce_add_button > div {
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(0,0,0,.8);
    padding: 1em;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);

}
#annonce_add_button > div:hover, .previous_image:hover , .next_image:hover {
    cursor: pointer;
}

#no_annonce {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(218, 218, 218, .37);
    padding: 1em;
    animation: go_down;
    animation-duration: 1.5s;
}

.annonce_item {
    position: relative;
    border-radius: 10px;
    width: 80%;
    height: auto;
    background-color: rgba(218, 218, 218, .37);
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 1em;
}

.annonce_item_module {
    padding-top: 1em;
    font-weight: 700;
    font-size: 14px;
}

.annonce_item_info {
    display: inline-block;
    width: calc(100% - 30px);
    height: 100%;
}

.annonce_item_show {
    position: absolute;
    top: 13px;
    right: 13px;
    background: url('../images/eye_icon.png') center no-repeat;
    background-size: 25px;
    width: 25px;
    height: 20px;
}

.annonce_item_show > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 31px;
    background: linear-gradient(141deg, #5966fe 20%, #6d49ff 50%, #bd27ff 75%);
    transform: rotateZ(-50deg);
    transform-origin: top;
}   

.annonce_item_delete {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 18px;
    width: 18px;
    height: 15px;
    padding-left: 9px; 
    margin: auto 0 auto 0.9em;
}

.annonce_item_delete > div {
    width: 2px;
    height: 18px;
    background: linear-gradient(141deg, #5966fe 20%, #6d49ff 50%, #bd27ff 75%);
}

.annonce_item_delete:hover > div {
    background: rgba(255, 0, 0, 0.808);
}

.annonce_item_id, .mark_version_id, .mark_correction_id, .personnel_user_id, .personnel_user_type  {
    display: none;
}

.annonce_item_subject {
    font-size: 24px;
    font-weight: bold;
}

.annonce_item_datetime {
    font-size: 14px;
    margin-bottom: 1em;
    color: rgba(61, 61, 61, .979);
}

#annonce_create {
    display: none;
    position: relative;
    border-radius: 10px;
    width: 80%;
    height: auto;
    background-color: rgba(0,0,0,.8);
    padding: 1em;
    margin: 0 auto 1em auto;
    min-width: 200px;
}

#annonce_create_module > option, #annonce_create_parcours > option, #annonce_create_filiere > option {
    background: rgba(0, 0, 0, 0.486);
    color: rgb(255, 255, 255);
}

.annonce_create_label {
    font-family: Roboto-Bold;
    color: rgba(255,255,255,1);
    display: block;
    padding: 0 0 .5em 0.2em;
}

#annonce_create_title, #annonce_create_content {
    padding: 0.3em;
}

#annonce_create_module, #annonce_create_parcours, #annonce_create_filiere, #annonce_create_title, #annonce_create_content  {
    border: transparent;
    border-radius: 5px;
    background: rgba(218, 218, 218, .37);
    color: white;
    display: block;
    width: 100%;
}

#annonce_create_title, #annonce_create_module, #annonce_create_parcours, #annonce_create_filiere {
    margin-bottom: 0.5em;
}

#annonce_create_content {
    position:relative;
    width: calc(100% - 40px);
}

#annonce_create_exit {
    position: absolute;
    display: block;
    top: 13px;
    right: 13px;
    margin: 0;
    padding: 0.5em;
}

#annonce_create_item_show {
    position: absolute;
    right: 18px;
    bottom: 68px;
    background: url('../images/eye_icon.png') center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 22px;
    filter: drop-shadow(0 0 0px rgb(255, 255, 255)) brightness(0) invert(1);
}

#annonce_create_item_show > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 35px;
    background: rgba(255,255,255,1);
    transform: rotateZ(-55deg);
    transform-origin: top;
}

#annonce_create_item_save {
    position: absolute;
    right: 18px;
    bottom: 25px;
    width: 25px;
    height: 37px;
    padding-left: 10px;
}

#annonce_create_item_save > div:first-child, #annonce_create_item_save > div:last-child {
    position: absolute;
    background: rgba(255,255,255,1);
    width: 5px;
    height: 25px;
    border-radius: 5px;
}

#annonce_create_item_save > div:first-child {
    transform: rotateZ(55deg);
    bottom: 0px;
}

#annonce_create_item_save > div:last-child {
    transform: rotateZ(-55deg);
    top: 0px;
}
/* #endregion Annonce */

/* #region SAISIR */
#fin_de_saisie, #upload_correction_button {
    text-align: center;
    animation-name: go_down;
    animation-duration: 1s;
    font-size: 1.5em;
    line-height: .8em;
}

.saisir_item_small {
    position: relative;
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(218, 218, 218, .37);
    margin-bottom: 0.5em;
    font-weight: 700;
}

.saisir_module_item:hover, #retour:hover  {
    background-color: rgba(200, 200, 200, .45);
    cursor: pointer;
}

#saisir_search_module {
    background-color: rgba(0, 0, 0, .8);
    margin-bottom: 1.5em;
    animation: go_down 1.5s;
}

#saisir_search_module > input {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border: none;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}

.saisir_module_title {
    overflow-wrap: break-word;
    text-transform: capitalize;
}

#retour {
    position: relative;
    height: 45px;
}

#retour > div:first-child  {
    position: absolute;
    left: 12px;
    top: 4px;
    width: 25px;
    height: 37px;
    padding-left: 10px;
}

#retour > div:first-child > div:first-child, #retour > div:first-child > div:last-child {
    position: absolute;
    background: rgb(0, 0, 0, 0.9);
    width: 5px;
    height: 20px;
    border-radius: 5px;
}

#retour > div:first-child > div:first-child {
    transform: rotateZ(-55deg);
    bottom: 4px;
}

#retour > div:first-child > div:last-child {
    transform: rotateZ(55deg);
    top: 4px;
}

#retour > div:last-child {
    width: calc(100% - 5.5em);
    height: 45px;
    position: absolute;
    top: 0;
    left: 3em;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, .8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#upload_area {
    width: 80%;
    height: 20em;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 0.5em;
    font-weight: 700;
    background-repeat: no-repeat;
    background-position: center 5em;
}

.upload_is_allowed {
    background-image: url('../images/file_upload.png');
}

.upload_is_allowed:hover {
    cursor: pointer;
    background-color: rgba(218, 218, 218, 0.822);
    border: 4px dashed rgb(0, 0, 0);
    color: rgba(0, 0, 0, 1);
}

#glisser-fichier {
    text-align: center;
    font-size: 22px;
    margin-top: 0.5em; 
}

#selectioner-fichier {
    text-align: center;
    font-size: 22px;
    margin-top: 8.5em;
}

.upload_unactive_drag {
    background-color: rgba(218, 218, 218, .37);
    border: 4px dashed rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

.upload_active_drag {
    background-color: rgba(218, 218, 218, 0.822);
    border: 4px solid rgb(0, 0, 0);
    color: rgba(0, 0, 0, 1);
}

#progress_percent {
    text-align: center;
    margin-top: 1.2em;
    font-weight: bold;
    font-size: 70px;
}

#progress_bar {
    height: 20px;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent;
    background: rgb(199, 199, 199);
    margin: 0 auto;
    margin-top: 3em;
}

#progress_bar_status {
    height: 20px;
    width: 0%;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}

#completed_entries_title, #uncompleted_entries_title, .default_title {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 8px;
    font-size: 1.5em;
    border-radius: 10px;
    margin-bottom: 8px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, 1)
}

.mark_item_large {
    position: relative;
    width: 80%;
    height: 20em;
    margin: 0 auto;
    padding: 0.5em 0.5em 2em 0.5em;
    border-radius: 10px;
    margin-bottom: 0.5em;
    font-weight: 700;
    background-color: rgba(218, 218, 218, .37);
}

.mark_item_image {
    width: 100%;
    position: relative;
    height: 98%;
    overflow: hidden;
    border-radius: 5px;
}

.mark_item_image > img {
    position: absolute;
    right: 0;
    top: 0;
    width: 200%;
    transition: width 1s height 1s;
    border-radius: 5px;
}

.next_image, .previous_image {
    display: none;
    position: absolute;
    top: 120px;
    width: 25px;
    height: 37px;
    padding-left: 10px;
}

.next_image  {
    right: 10px;
}

.previous_image  {
    left: 10px;
}

.next_image > div:first-child, .next_image > div:last-child, .previous_image > div:first-child, .previous_image > div:last-child {
    position: absolute;
    background: rgb(0, 0, 0, 0.9);
    width: 5px;
    height: 20px;
    border-radius: 5px;
}

.next_image > div:first-child {
    transform: rotateZ(55deg);
    bottom: 4px;
}

.next_image > div:last-child {
    transform: rotateZ(-55deg);
    top: 4px;
}


.previous_image > div:first-child {
    transform: rotateZ(-55deg);
    bottom: 4px;
}

.previous_image > div:last-child {
    transform: rotateZ(55deg);
    top: 4px;
}

.previous_image:hover > div , .next_image:hover > div {
    background: rgb(0, 0, 0, 1);
}

.mark_item_image:hover > .next_image, .mark_item_image:hover > .previous_image {
    display: block;
}

.zoomlevel {
    background: rgb(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    position: absolute;
    bottom: 0.3em;
    right: 0.5em;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
}

.zoomlevel:hover, .delete_entry:hover, .check_item_checkbox:hover, .select_all:hover  {
    cursor: pointer;
}

.student_infos {
    position: absolute;
    left: 0.5em;
    bottom: 0.3em;
    width: calc(100% - 3.3em);
}

.saisir_student_name, .saisir_student_mark {
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    padding: 5px;
    border: transparent;
    background: rgb(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
}

.saisir_student_name::placeholder, .saisir_student_mark::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.saisir_student_name {
    text-transform: capitalize;
    left: 0;
    width: 68%;
}

.saisir_student_mark {
    right: 0;
    width: 31%;
}

#students_names > option, #students_names {
    text-transform: capitalize;
}

.saisir_student_name::-webkit-calendar-picker-indicator {
    background-color: inherit;
}

.default_button {
    display: inline-block;
    background-color: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    font-size: 22px;
    border-radius: 10px; 
    margin-bottom: 1em; 
}

.default_button:hover {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    animation: wobble-horizontal 1s;
}

.default_button_small {
    display: inline-block;
    background-color: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, 1);
    padding: 7px;
    font-size: 16px;
    border-radius: 8px; 
    font-weight: bold;
    line-height: 16px;
}

.default_button_small:hover {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.delete_entry {
    display: none;
    width: 1.1em;
    height: 1.1em;
    position: absolute;
    right: 0.8em;
    top:0.5em;
    padding-left: 0.7em;
}

.delete_entry_text {
    display: none;
    position: absolute;
    right: 2.5em;
    top: 0.25em;
    padding: 5px;
    border-radius: 5px;
    background: rgb(0, 0, 0, 0.9);
    color: white;
}

.mark_item_image:hover > .delete_entry, .delete_entry:hover + .delete_entry_text {
    display: block;
}

.delete_entry > div:first-child, .delete_entry >  div:last-child {
    position: absolute;
    background: rgb(0, 0, 0, 0.9);
    width: 5px;
    height: 20px;
    border-radius: 5px;
}

.delete_entry  div:first-child {
    transform: rotateZ(-45deg);
    left: 5px;
}

.delete_entry> div:last-child {
    transform: rotateZ(45deg);
    left: 5px;
}

.delete_entry:hover > div:last-child, .delete_entry:hover > div:first-child, .check_item_checkbox:hover + .check_item_control  {
    background: rgb(0, 0, 0, 1);
}

.check_item_checkbox {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0.5em;
    left: 0.55em;
    width: 1.3em;
    height: 1.3em;
    z-index: 1;
}

.check_item_control {
    display: none;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 1.2em;
    height: 1.2em;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
    z-index: 0;
    text-align: center;
    line-height: 1.5em;
}

.check_item_control:after {
    content: "\2714";
    color: rgb(255, 255, 255, 0.5);
    font-size: 20px;
    line-height: 0.95em; 
}

.mark_item_image:hover .check_item_control, .mark_item_image:hover .check_item_checkbox, .check_item_checkbox:checked + .check_item_control  {
    display: block;
}

.check_item_checkbox:checked + .check_item_control:after {
    color: rgb(255, 255, 255, 1);
}

.select_all {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 80%;
    width: 35px;
    border: 3px dashed rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 26px;
    padding: 1px 3px;
}

.select_all > span {
    font-size: 26px;
}

.select_all > div {
    position: absolute;
    left: -140px;
    top: 6px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.select_all:hover > div {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}
.saisir_view_more {
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.saisir_view_more:hover {
    background-color: rgba(218, 218, 218, .9);
}

#image_show_large {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 3em;
    background: rgba(0, 0, 0, .8);
}

#image_show_large > img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 1em;
    object-fit: contain;
    /* border-radius: 2em; */
}


#image_show_large > div:last-child, #note_image_overlay > div:last-child, #leave_student_consult_center {
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
    font-size: 2em;
    text-shadow: 0px 0px 5px black;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0;
}

#note_image_overlay, #image_show_large {
    z-index: 5;
}
/* #endregion SAISIR */

/* #region NOTES ENSG */
#fin_de_verification_note {
    text-align: center;
    animation-name: go_down;
    animation-duration: 1s;
    font-size: 1.5em;
    line-height: .8em;
}

.notes_item_small {
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(218, 218, 218, .37);
    margin-bottom: 0.5em;
    font-weight: 700;
    height: calc(50px + 2em); /* child height + padding-top + padding-bottom */
}

#notes_editing_area, .notes_item_id, .affichage_module_id {
    display: none;
}

.notes_item_image {
    display: none;
    position : absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
}

.notes_item_image > div {
    position : relative;
    margin: 4em 4em 2em 4em;
    width: calc(100% - 8em);
    height: calc(100% - 6em);
}

.notes_item_image > div > img, #std_center_copy img, #std_center_correct img {
    position : absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
}

.notes_item_info_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);

}

.notes_item_info_avatar:hover {
    box-shadow: none;
}

.notes_item_info_text {
    display: inline-block;
    width: calc( 100% - 60px);
    position: relative;
    overflow: hidden;
    height: 50px;
    line-height: 23px;
}

.notes_item_info_name {
    position: absolute;
    top: 0;
    left: 10px;
    width: 70%;
    padding-right: 1em;
}

.notes_item_info_mark {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
}

#upload_correction_button {
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
}

#upload_correction_button:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(218, 218, 218, .8);
}

.notes_item_mark_label,  .notes_item_name_label {
    font-weight: 700;
}

.notes_item_mark_value, .notes_item_name_value  {
    border-radius: 5px;
    padding: 5px;
    border: transparent;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    font-weight: 400;
}

.notes_item_mark_value { 
    background: rgb(0, 0, 0, 0.8);
}

.notes_item_name_value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.1em;
    background: rgb(0, 0, 0, 0.8);
}

.in_image_zoom_level {
    right: 1em;
    bottom: 1em;
}

.no_bt_pad_mark_item_large {
    padding: 0.5em 0.5em 0.1em 0.5em;
}

.next_image_large, .previous_image_large {
    display: block;
    position: absolute;
    top: 48%;
    width: 25px;
    height: 37px;
    padding-left: 10px;
}

.next_image_large  {
    right: -2em;
}

.previous_image_large  {
    left: -2em;
}

.next_image.next_image_large > div, .previous_image.previous_image_large > div {
    background: rgb(231, 231, 231);
}

#note_image_overlay > div:last-child, #leave_student_consult_center{
    top: 2em;
    right: 1em;
}
/* #endregion NOTES ENSG */

/* #region NOTES ETUD */
.annee_title {
    line-height: 20px;
}

#std_notes_area {
    animation-name: go_up;
    animation-duration: 1.5s;
}

#student_consult_center {
    display: none;
    z-index: 5;
    position : absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
}

#std_center_bar {
    height: 2em;
    width: 100%;
    text-align: center;
    background: black;
    height: 3em;
    line-height: 3em;
    overflow: hidden;
}

#leave_student_consult_center {
    right: .2em;
    top: .2em;
}

.std_center_bar_btn {
    display: inline;
    line-height: 1em;
    font-weight: bold;
    color: rgb(231, 231, 231);
    font-size: 20px;
    margin-right: .5em;
    line-height: 1.5em;
    padding-bottom: .2em;
    padding: .2em;
    border-radius: 5px; 
}

.std_center_bar_btn:hover {
    background: rgba(189, 189, 189, 0.5)!important;
    cursor: pointer;
}

#std_center_reclam {
    overflow: auto;
}

#std_center_correct, #std_center_reclam {
    display: none;
}

#std_center_copy, #std_center_correct, #std_center_reclam {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    padding-top: 3em;
}

.std_center_content {
    position : relative;
    margin: 1em 4em 1em 4em;
    width: calc(100% - 8em);
    height: calc(100% - 2em); 
}


#reclam_tab {
    margin: 0 auto;
    padding: 1em;
    max-width: 600px;
    color: white;
    width: 100%;
    height: auto;
}

#reclam_tab > div {
    background: rgba(218, 218, 218, .37);
    background: rgba(0, 0, 0, .8);
    border-radius: 15px;
    padding: 1em 1em .4em 1em;
}

.reclam_tab_label {
    font-weight: bold;
}

.reclam_tab_item, .reclam_tab_label {
    border-radius: 5px;
    color: white;
    margin-bottom: .5em;
    width: 100%;
}

.reclam_tab_item {
    border-radius: 5px;
    background: rgba(0, 0, 0, .8);
    background: rgba(218, 218, 218, .37);
    padding: .4em;
    word-wrap: break-word;
    border: transparent;
}

.reclam_tab_bool {
    position: relative;
    display: inline-block;
    font-weight: 700; 
    width: auto;
    padding-left: 25px;
}

.reclam_lower_section {
    position: relative;
    height: 42px;
}

.reclam_tab_bool > span {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    top: 5px;
    left: 5px;
    text-shadow: 0px 0px 5px #000000;
}

.reclam_tab_button {
    padding: .6em;
    position: absolute;
    right: 0em;
    background-color: rgba(119, 21, 21, 0.445); 
}

.reclam_tab_button:hover {
    background-color: rgba(185, 8, 8, 0.445); 
}

textarea.reclam_tab_item {
    height: 100px;
}

.reclam_title {
    background: rgba(117, 117,117);
    color: #000000;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}

.old_reclam_item {
    border-radius: 5px;
    border: 2px dashed rgb(255, 255, 255, .3);
    padding: 5px;
    margin-bottom: 10px;
}

.reclam_second_title {
    margin-top: 15px;
}
/* #endregion NOTES ETUD */

/* #region Affichage*/
.affichage_item_info span {
    font-weight: 400; 
}

.affichage_module_button, .modifiable_module_button {
    position: absolute;
    transform: scale(0.7);
}

.affichage_module_button {
    right: -.7em;
    top: 0em;
}

.modifiable_module_button {
    right: -1.1em;
    top: 1.8em;
}

.affichage_module_button:hover, .modifiable_module_button:hover { 
    animation: none;
}

.affichage_item_info {
    width: calc(100% - 4.8em);
}
/* #endregion Affichage */

/* #region personnels */
.personnel_user_item {
    height: 70px;
}

.personnel_user_item:hover {
    background-color: rgba(218, 218, 218, .7);
    color: #0070c9;
    cursor: pointer;
}

.personnel_user_img {
    position: absolute;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    top: 10px;
}

.personnel_user_info {
    line-height: 35px;
    padding-left: 60px;
}

.go_up_anim {
    animation-name: go_up;
    animation-duration:  1.5s;
}
/* #endregion personnels */


/* #region RECLAMATION ENSG */
.reclam_ensg_item {
    height: auto;
    padding-bottom: .5em;
}

.reclam_ensg_info {
    padding: .4em .6em .6em .6em;
    margin: 1em 0 .2em 0;
    border-radius: 10px;
    border: 1px dashed rgb(0, 0, 0, .5); 
}

.reclam_ensg_info_item {
    margin-top: .8em;
}

.reclam_ensg_info_item:first-child {
    margin-top: 0;
}

.reclam_ensg_info_label {
    color: rgb(0, 0, 0, 1);
    padding-bottom: .2em;
}

.reclam_ensg_info_value  {
    border-radius: 5px;
    padding: 5px;
    border: transparent;
    color: rgba(255, 255, 255, 1);
    width: 80%;
    font-weight: 400;
    background: rgb(0, 0, 0, .8);
    word-wrap: break-word;
}
/* #endregion */
/* #endregion CONTENT */


/* #region POP_UP_MESSAGE */
#pop_up_message_overlay {
    display: none;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
}

#pop_up_message_container {
    position: absolute;
    top: 40%;
    width: 100%;
}

#pop_up_message {
    position: relative;
    margin: 0 auto;
    width: 300px;
    background: rgba(210, 210, 210, .8);
    border-radius: 10px;
    padding: 10px 10px 38px 10px;
}

.pop_up_message_content {
    font-weight: bold;
    text-align: justify;
}

#pop_up_message_ok, #pop_up_message_cancel {
    position: absolute;
    bottom: 5px;
}

#pop_up_message_ok {
    right: 5px;
}

#pop_up_message_cancel {
    right: 45px;
    display: none;
}
/* #endregion POP_UP_MESSAGE */


/* #region loaders */
#main_loader_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: progress;
}

.loader_container {
    position: absolute;
    top: 45%;
    width: 100%;
}

#search_results_loader {
    display: none;
}

#search_results_loader, #small_loader {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.saisir_module_item_loader {
    display: none;
    position: absolute;
    top: -6px;
    right: 3em;
    width: 10px;
    height: 10px;
}

.saisir_module_item_loader > div::after {
    background: rgba(0, 0, 0, .8);
    top: 18px;
    left: 29px;
    width: 4px;
    height: 7px;
}

#small_loading_overlay {
    background: rgba(0, 0, 0, .8);
    border-radius: 15px;
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

#small_loading_overlay > div#small_loader {
    top: 18%;
}
/* #endregion loaders */


/* #region move_controls */
#right_move_controls {
    position: fixed;
    bottom: 0.5em;
    right: 1em;
    width: 33px;
}

#right_move_controls > div {
    float: right;
}

#left_move_controls {
    position: fixed;
    bottom: 0.5em;
    left: 1em;
    width: 33px;
}

.move_controls_item {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0.3em;
    border-radius: 5px; 
    text-align: center;
    line-height: 1.7em;
    font-weight: 700;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.move_controls_item > span {
    position: absolute;
    top: 0;
    left: 32px;
} 

.move_controls_item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}

#go_to_bottom {
    padding-top: 8px;
}

#go_to_top {
    padding-top: 7px;
}

#go_to_bottom > div:first-child, #go_to_bottom > div:last-child, #go_to_top > div:first-child, #go_to_top > div:last-child {
    position: absolute;
    background: rgb(255, 255, 255, 1);
    width: 4px;
    height: 15px;
    border-radius: 5px;
}

#go_to_bottom > div:first-child {
    transform: rotateZ(45deg);
    right: 10px;
}

#go_to_bottom > div:last-child {
    transform: rotateZ(-45deg);
    left: 10px;
}


#go_to_top > div:first-child {
    transform: rotateZ(-45deg);
    right: 10px;
}

#go_to_top > div:last-child {
    transform: rotateZ(45deg);
    left: 10px;
}

#go_to_copies::after {
    content: 'C';
}

#go_to_copies:hover::after {
    content: 'Copies';
}

#go_to_files::after {
    content: 'F';
}

#go_to_files:hover::after {
    content: 'Fichiers';
}

#go_to_copies:hover, #go_to_files:hover {
    width: 100px;
}

#delete_multiple_entries {
    padding-left: 8px;
    text-align: left;
}

#delete_multiple_entries:hover {
    width: 200px;
}

#data_save {
    background-image: url('../images/save_icon.png');
    background-size: 23px;
    background-position: 5px 4px;
    background-repeat: no-repeat;
}

#data_submit_tech, #data_submit_ensg, #modifiable_right {
    background-image: url('../images/send_file_icon.png');
    background-size: 25px;
    background-position: 4px 3px;
    background-repeat: no-repeat;
}

#data_save:hover{
    width: 120px;
}

#data_submit_tech:hover  {
    width: 197px;
}

#data_submit_ensg:hover  {
    width: 270px;
}

#modifiable_right:hover {
    width: 285px;
}

#modifiable_right, #go_to_copies, #go_to_files, #data_submit_tech, #data_submit_ensg, #data_save, #delete_multiple_entries, #saisir_stats, #notes_stats {
    transition: width .5s, height .5s;
}

#modifiable_right, #go_to_copies:hover, #go_to_files:hover, #data_submit_tech:hover, #data_submit_ensg:hover, #data_save:hover, #delete_multiple_entries:hover, #saisir_stats:hover,  #notes_stats:hover {
    transition: width .5s, height .5s;
}

#saisir_stats:hover, #notes_stats:hover {
    width: 160px;
    padding-left: 8px;
    text-align: left;
    cursor: default;
}

#saisir_stats, #notes_stats {
    background-image: url('../images/stats_icon.png');
    background-size: 20px;
    background-position: 6px 5px;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 8px;
    text-align: left;
}

#saisir_stats > div, #notes_stats > div {
    font-size: 14px;
    height: 22px;
}

#notes_stats:hover {
    height: 65px;
}

#saisir_stats:hover {
    height: 108px;
}
/* #endregion move_controls */


/* #region icons */
#televerser_icon {
    background-image: url('../images/menu_upload.png');
}

#saisir_icon {
    background-image: url('../images/menu_marks.png');
}

#annonces_icon {
    background-image: url('../images/menu_speaker.png');
}

#resultats_icon {
    background-image: url('../images/menu_result.png');
}

#reclamations_icon {
    background-image: url('../images/menu_error.png');
}

#consultations_icon {
    background-image: url('../images/menu_view.png');
}

#affichages_icon {
    background-image: url('../images/menu_billboard.png');
}

#utilisateur_icon {
    background-image: url('../images/menu_users.png');
}

#messenger_icon {
    background-image: url('../images/menu_messages.png');
}

#profile_notes {
    background-image: url('../images/profile_note.png');
}

#profile_ensgs {
    background-image: url('../images/profile_blackboard.png');
}

#profile_modules {
    background-image: url('../images/profile_book.png');
    background-size: 1.5em;
    background-position: 0em -.2em;
}
/* #endregion icons */


/* #region MEDIA QUERIES */
@media only screen and (max-width: 799px) { 
    #topbar {
        padding: 0 5%;
        transition: padding .5s; 
    }

    #notification_box {
        width: 98%;
        right: 0%;
        transition: right .5s; 
        margin: 0 1%;
        text-align: center;
    }

    #notification_box::after,#notification_box::before, #options_box::after, #options_box::before{
        display: none;
    }

    .notification_item {
        width: 100%;
    }

    #options_box {
        left: 5%;
        transition: left .5s; 
    }

    #menu_entries {
        position: absolute;
        top: 3.1em;
        left: 0;
        background-color: rgba(0,0,0,.8);
        border: 1px solid rgba(88, 88, 88, .5);
        padding: 1em 1em; 
        margin: 0 20%;
        width: 60%;
        height: auto;
        display: none;
        border-radius: 5px;
    }

    #menu_button {
        display: block;
    }

    #menu_entries > div {
        display: block;
        margin: 0 auto;
    }

    .suggestion_item_filiere {
        display: none;
    }

    .suggestion_item_name {
        width: 100%;
    }

    #search_result {
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        transition: 0s;
    }

    #content_container {
        padding: 3em 5% 0em 5%;
        transition: padding .5s; 
    }

    #profile_container, #annonce_container, #upload_area, .saisir_item_small, .notes_item_small {
        display: inline-block;
        width: 100%;
    }

    #left_profile_section, #right_profile_section {
        display: inline-block;
        width: 100%;
        margin-bottom: 1em;
        padding-right: 0;
    }

    #profile_avatar > img {
        display: block;
        width: 30vw;
        margin: 0 auto;
    }

    #profile_name {
        text-align: center;
    }

    .annonce_item, #annonce_add_button, #no_annonce, #annonce_create, .mark_item_large, #completed_entries_title, #uncompleted_entries_title, .default_title {
        width: 100%;
    }

    #upload_area {
        height: 15em;
        background-position: center 3.5em;
        overflow: hidden;
    }

    #glisser-fichier {
        margin-top: 0;
    }

    #selectioner-fichier {
        margin-top: 5.8em;
    }

    #progress_percent {
        margin-top: 0.4em;
    }
    
    #progress_bar {
        margin-top: 2em;
    }

    .saisir_student_name {
        width: 58%;
    }
    
    .saisir_student_mark {
        width: 38%;
    }

    #left_move_controls {
        left: 0.5em;
    }
    
    .affichage_module_button {
        position: relative;
        top: 0;
        margin-bottom: 0; 
    }

    .affichage_item_info {
        width: 100%;
    }
}

@media only screen and (max-width: 499px) { 
    .home_item {
        font-size: 6vw;
        background-size: 15vw;
    }

    #std_center_bar {
        padding-right: 2em;
    }
    .std_center_bar_btn {
        margin-right: .2em;
        font-size: 18px;
    }

    #leave_student_consult_center {
        font-size: 25px;
        top: .4em;
    }

    .notes_item_image > div {
        margin: 4em 2em 2em 2em;
        width: calc(100% - 4em);
    }

    .std_center_content {
        margin: 1em 2em 1em 2em;
        width: calc(100% - 4em);
    }

    #reclam_tab {
        padding: 0;
        height: 100%;
    }
      
    #reclam_tab > div {
        border-radius: 0;
        height: 100%;
    }
}
/* #endregion MEDIA QUERIES */


/* #region keyframes */
@keyframes go_down {
	from {
        opacity: 0;
		transform: translateY(-10em);;
	}

	to {
        opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes go_up {
	from {
        opacity: 0;
		transform: translateY(10em);;
	}

	to {
        opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes top_bar_animation {
	from {
		transform: translateY(-3.1em);;
	}

	to {
		transform: translateY(0px);
	}
}

@keyframes pop_animation2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide_animation_LtoR {
    from {
        transform: translate(100%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slide_animation_RtoL {
    from {
        transform: translate(-100%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
/* #endregion keyframes */


/* #region MOZILLA COMPATIBILITY */
@-moz-document url-prefix() {
    #notification_box > div {overflow-y: scroll;}
    .change_avatar_child {font-size: 13px;}
    .select_all > div {left: -160px;}
    #data_submit_tech:hover {width: 218px;}
    #data_submit_ensg:hover {width: 295px;}
    #data_save:hover {width: 130px;}
    #delete_multiple_entries:hover {width: 220px;}
    #modifiable_right:hover {width: 310px;}
    .check_item_control::after {font-size: 18px;}
    .select_all > span {padding-left: 1px;}
}
/* #endregion MOZILLA COMPATIBILITY */


/* #region EXTRA */
.no_right_margin {
    margin-right: 0; 
}
/* #endregion EXTRA*/