<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>STATIC FILES TEST</h3>
    <img src="{% static 'test.jpg' %}" alt="" width="80px">
    <div>{{ testing }}</div>
    <br>
    <h3>MEDIA FILES TEST</h3>
    <img src="{{ MEDIA_URL }}{{ copySample }}" alt="" width="400px">
    <img src="{{ MEDIA_URL }}{{ correctionSample }}" alt="" width="400px">
</body>
</html>